{% include 'site/header.html' %}
    <h1>Sesión de libros</h1>
    <hr />

    <div class="row">
        {% for book in books %}
        <div class="col-3">
           <div class="card">
            <img class="card-img-top" src="/img/{{ book[2] }}" alt="Title">
            <div class="card-body">
                <h4 class="card-title">{{ book[1]}}</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="{{ book[3] }}" role="button">Descargar</a>
                </p>
            </div>
           </div>
        </div>   
        {% endfor %}          
    </div>
{% include 'site/footer.html' %}
