<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootswatch v5.2.3 (https://bootswatch.com) -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"     
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Inicio</a>
        <a class="nav-item nav-link" href="/books">Libros</a>
        <a class="nav-item nav-link" href="/about">Acerca de...</a>
        <a class="nav-item nav-link" href="/admin/login">Administrador</a>
      </div>
    </nav>

    <div class="container mt-4">
